@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 40% 95%;
    --foreground: 222 47% 11%;
    --card: 220 40% 99%;
    --card-foreground: 222 47% 11%;
    --popover: 220 40% 99%;
    --popover-foreground: 222 47% 11%;
    --primary: 238 52% 38%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 15% 90%;
    --secondary-foreground: 222 47% 11%;
    --muted: 220 15% 90%;
    --muted-foreground: 220 9% 46%;
    --accent: 282 44% 47%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 238 52% 48%;
    --radius: 0.5rem;
    --chart-1: 238 52% 48%;
    --chart-2: 282 44% 47%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 238 52% 28%;
    --sidebar-foreground: 210 40% 94%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 238 52% 28%;
    --sidebar-accent: 238 52% 34%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 238 52% 34%;
    --sidebar-ring: 282 44% 57%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 282 50% 60%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 282 44% 57%;
    --chart-1: 210 40% 98%;
    --chart-2: 282 50% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 222 47% 9%;
    --sidebar-foreground: 210 40% 94%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 217 33% 15%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 15%;
    --sidebar-ring: 282 44% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
